## Pandas Cheatsheet

### 1. Import pandas

In [1]:
import pandas as pd

### 2. Create Series and DataFrame

#### 2.1. Create Series

In [2]:
series = pd.Series([1, 2, 3, 4, 5])
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### 2.2. Create DataFrame

In [3]:
df = pd.DataFrame(
    {
        "first_name": ["Joe", "Jean", "Joanna"],
        "last_name": ["Muller", "Anne", "Caterine"]
    }
)
df

  first_name last_name
0        Joe    Muller
1       Jean      Anne
2     Joanna  Caterine

In [4]:
df2 = pd.DataFrame(
    [
        {"first_name": "Joe", "last_name": "Muller"},
        {"first_name": "Jean", "last_name": "Anne"},
        {"first_name": "Joanna", "last_name": "Caterine"},
    ]
)
df2

  first_name last_name
0        Joe    Muller
1       Jean      Anne
2     Joanna  Caterine

In [5]:
df3 = pd.DataFrame(
    [
        ("Joe", "Muller"),
        ("Jean", "Anne"),
        ("Joanna", "Caterine")
    ],
    columns=["first_name", "last_name"]
)
df3

  first_name last_name
0        Joe    Muller
1       Jean      Anne
2     Joanna  Caterine

### 3. Read csv, excel and database

#### 3.1 Read csv

In [6]:
category = pd.read_csv("filmdb/category.csv")
category.head()

   category_id       name          last_update
0            1     Action  2006-02-15 09:46:27
1            2  Animation  2006-02-15 09:46:27
2            3   Children  2006-02-15 09:46:27
3            4   Classics  2006-02-15 09:46:27
4            5     Comedy  2006-02-15 09:46:27

#### 3.2 Read excel

_Dependency:_ 
- pip install openpyxl

In [7]:
df_excel = pd.read_excel("filmdb/category.xlsx")
df_excel.head()

   category_id       name          last_update
0            1     Action  2006-02-15 09:46:27
1            2  Animation  2006-02-15 09:46:27
2            3   Children  2006-02-15 09:46:27
3            4   Classics  2006-02-15 09:46:27
4            5     Comedy  2006-02-15 09:46:27

#### 3.3 Read database

_Dependency_: 
- pip install sqlalchemy
- sudo apt install libpq-dev python3.x-dev
- pip install psycopg2

[more about sqlalchemy](https://github.com/honey-dew/belajar-sqlalchemy)

In [8]:
from sqlalchemy import create_engine
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/dvdrental")

df_db  = pd.read_sql("SELECT * FROM category;", engine)
df_db.head()

ModuleNotFoundError: No module named 'psycopg2'

_Notes: dvdrental is db name that you want to connect_

### 4. Select column

In [ ]:
film = pd.read_csv("filmdb/film.csv")
film.head()

In [ ]:
film[["film_id", "title", "description", "release_year"]]

### 5. Rename column

In [ ]:
film_subset = film[["film_id", "title", "description", "release_year"]].copy()

#### 5.1 Rename all column

In [ ]:
new_colname = []
for col in film_subset.columns:
    nc = col.upper()
    new_colname.append(nc)
new_colname

film_subset.columns = new_colname

film_subset.head()

#### 5.2 Rename some columns

In [ ]:
film_subset.rename(columns={"TITLE": "FILM_TITLE", "DESCRIPTION": "FILM_DESCRIPTION"}, inplace=True)
film_subset.head()

### 6. Count category

In [ ]:
film_category = pd.read_csv("filmdb/film_category.csv")
film_category.head()

In [ ]:
film_categoty_count = pd.DataFrame(film_category["category_id"].value_counts()).reset_index(level=0)
film_categoty_count.columns = ["category_id", "count_category"]
film_categoty_count

### 7. Filter

In [ ]:
film_category.loc[film_category["category_id"] == 12].head()

In [ ]:
film_category.loc[(film_category["category_id"] == 12) | (film_category["category_id"] == 1)].head()

_Notes:_

- and =====> &
- or  =====> |

In [ ]:
film_category.query("category_id == 12 or category_id == 1").head()

### 8. Join table

In [ ]:
pd.merge(
    left  = pd.read_csv("filmdb/film_category.csv"),
    right = pd.read_csv("filmdb/category.csv")[["category_id", "name"]],
    how   = "left",
    on    = "category_id"
).head()

### 9. Group By

In [ ]:
film_category.groupby("category_id")["film_id"].count().reset_index()

In [ ]:
pd.pivot_table(
    data    = film_category,
    index   = "category_id",
    values  = "film_id",
    aggfunc = "count"
).reset_index()